body{
  background-color: rgb(199, 183, 209);
}
.NaveBar{
  background-color: #2a163a;
  width: 100%;
  height: 5em;
}
.Titulo00{
  position: absolute;
  top: 210px;
  left: 350px;
  color: rgb(199, 183, 209) ;
  text-decoration: underline;
}
.Titulo01{
  font-size: 30px;
  margin-left: 5%;
  color:rgb(199, 183, 209);
}
.Titulo02{
  font-size: 40px;
  margin-right: 61%;
  color: rgb(199, 183, 209);
  text-decoration: underline;
}
.Logo{
  position: absolute;
  width: 15%;
  bottom:700px ;
  left: 30px;
  top: 40px;
  width: 10rem;
  position: absolute;
  border: solid;
  background-color: #2a163a;
  border-radius: 100%;
}
.button-20{
position: absolute;
right: 100px;  
width: 7%;
}
.custom-icon1{
  font-size: 80px;
  padding: 20px;
  color: rgb(199, 183, 209);
}


.button-20 {
  appearance: button;
  background-color: #2a163a;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 10px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.button-20:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.Titulo02 {
  text-align: center;
}

.Titulo_central {
  font-size: 2em;
}

.caixão {
  background-color: #2a163a;
  width: 70%;
  margin-left: 11%;
  border: solid 6px black;
  border-radius: 3%;
  margin-top: 5%;
}

.caixa1 {
  background-color: white;
  border: solid 4px black;
  border-radius: 50px;
  margin: 5%;
}

.data1 {
  text-align: end;
  font-size: 20px;
}

.obra {
  text-align: end;
  font-size: 20px;
  color:#4A4A4A ;
}

.Nome1 {
  text-align: start;
  font-size: 20px;
  color:#4A4A4A ;
}
.classi{
  text-align: end;
  font-size: 20px;
  color:#4A4A4A ;
}

.Previa1 {
  text-align: start;
  font-size: 20px;
  color:#4A4A4A ;
}

.Nome {
  display: flex;
  align-items: center; 
}

.custom-icon {
  font-size: 50px; 
  margin-right: 8px; 
}
.data1{
  margin-right: 40px;
}
.obra{
  margin-right: 40px;
}
.classi{
  margin-right: 40px;
}